<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycoris.dao.StatisticsMapper">
  <resultMap id="BaseResultMap" type="com.lycoris.entity.Statistics">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="success_count" jdbcType="INTEGER" property="successCount" />
    <result column="fail_count" jdbcType="INTEGER" property="failCount" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="trans_date" jdbcType="DATE" property="transDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, success_count, fail_count, channel_id, trans_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from statistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lycoris.entity.Statistics">
    insert into statistics (id, success_count, fail_count, 
      channel_id, trans_date)
    values (#{id,jdbcType=INTEGER}, #{successCount,jdbcType=INTEGER}, #{failCount,jdbcType=INTEGER}, 
      #{channelId,jdbcType=VARCHAR}, #{transDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.lycoris.entity.Statistics">
    insert into statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="successCount != null">
        success_count,
      </if>
      <if test="failCount != null">
        fail_count,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="transDate != null">
        trans_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        #{successCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null">
        #{failCount,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null">
        #{transDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lycoris.entity.Statistics">
    update statistics
    <set>
      <if test="successCount != null">
        success_count = #{successCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null">
        fail_count = #{failCount,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null">
        trans_date = #{transDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lycoris.entity.Statistics">
    update statistics
    set success_count = #{successCount,jdbcType=INTEGER},
      fail_count = #{failCount,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=VARCHAR},
      trans_date = #{transDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>